.card{
    flex: 0 0 auto;
}




.testi-track{
    width: calc(200%);
    animation: scroll 20s linear infinite;
}

.testi-track2{
    width: calc(200%);

    animation: scroll2 20s linear infinite;
}



@keyframes scroll {
    0%{
        transform: translateX(0%);
    }

    100%{
        transform: translateX(-100%);
    }


    /* @keyframes scroll2 {
        0%{
            transform: translateX(-50%);
        }

        100%{
            transform: translateX(0%);
        } 
    */

}